<div class="flex min-h-screen gap-8 bg-white full">
  <app-admin-navbar></app-admin-navbar>
  <div class="h-full pb-20 bg-white ml-96">

    <div class="my-6">
      <div class="justify-center flex items-center my-6">
        <input type="text"
          placeholder="Search by Cell Name or Issue Reporter"
          class="my-4 py-2 px-6"
          [(ngModel)]="searchInput"
          (input)="onSearchInputChanged()">
      </div>
    </div>

    <div class="flex justify-center">
      <table class="bg-white border-collapse border border-gray-300 mb-4">
        <thead class="bg-gray-200">
          <tr>
            <th class="border border-gray-300 px-4 py-2">Full Name</th>
            <th class="border border-gray-300 px-4 py-2">Phone Number</th>
            <th class="border border-gray-300 px-4 py-2">Email</th>
            <th class="border border-gray-300 px-4 py-2">Cell Name</th>
            <th class="border border-gray-300 px-4 py-2">Date Encountered</th>
            <th class="border border-gray-300 px-4 py-2">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let issue of getPagedIssues(); let even = even; let odd = odd"
            class="text-center"
            [ngClass]="{ 'bg-gray-100': even, 'bg-gray-200': odd }">
            <td class="border border-gray-300 px-4 py-2">{{ issue.fullName
              }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ issue.phoneNumber
              }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ issue.email }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ issue.cellName
              }}</td>
            <td class="border border-gray-300 px-4 py-2">{{
              issue.dateEncountered | date }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ issue.description
              }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination flex justify-between">
      <span>Page {{ currentPage }} of {{ getPagesArray().length }}</span>
      <div>
        <button
          class="button mr-3 shadow-md font-bold bg-#F6F6F6 py-1 px-3 rounded-xl"
          (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
        <button class="button bg-white shadow-md font-bold py-1 px-3 rounded-xl"
          (click)="nextPage()"
          [disabled]="currentPage === getPagesArray().length">Next</button>
      </div>
    </div>

  </div>
</div>
