<app-nav></app-nav>
<div class="mx-12 h-screen">

  <div class="my-6">
    <div class="justify-center  flex items-center my-6">
      <input type="text" placeholder="Search by Cell Name it's Cost Of Living"
        class=" my-4  py-2 px-6">
    </div>
    <div class="flex justify-center">
      <table class=" bg-white border-collapse border border-gray-300 mb-4">
        <thead class="bg-gray-200">
          <tr>
            <th class="border border-gray-300 px-4 py-2">Cell Name</th>
            <th class="border border-gray-300 px-4 py-2">Transportation</th>
            <th class="border border-gray-300 px-4 py-2">Moving Companies</th>
            <th class="border border-gray-300 px-4 py-2">Cost Of Food</th>
            <th class="border border-gray-300 px-4 py-2">Health</th>
            <th class="border border-gray-300 px-4 py-2">Rent Of House</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td class="border border-gray-300 px-4 py-2">Sample Cell</td>
            <td class="border border-gray-300 px-4 py-2">Sample Transport</td>
            <td class="border border-gray-300 px-4 py-2">Sample Company</td>
            <td class="border border-gray-300 px-4 py-2">Sample Cost</td>
            <td class="border border-gray-300 px-4 py-2">Sample Health</td>
            <td class="border border-gray-300 px-4 py-2">Sample Rent</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex justify-center my-6">
      <button class="py-2 px-4 text-white">
        Need to add yours?
      </button>
    </div>
  </div>

</div>
<app-footer></app-footer>
