<app-nav></app-nav>
<div class="mx-12 h-screen">

  <div class="flex justify-center items-center my-6 ">
    <form class="w-full max-w-md form px-12 py-6" #surveyForm="ngForm">

      <div class="mb-4">
        <h2 class="text-center my-3">Fill this survey to help us to know the
          cost living of your
          place</h2>
      </div>

      <div class="mb-4">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="cellName" type="text" placeholder="Cell Name"
          [(ngModel)]="cellName" name="cellName">
      </div>

      <div class="mb-4">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="transportation" type="text"
          placeholder="Destination (Ex: Kanombe - Remera)"
          [(ngModel)]="transportation" name="transportation">
      </div>

      <div class="mb-4">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="movingCompanies" type="text"
          placeholder="Types of Transport (Ex: Car or Motorcycle)"
          [(ngModel)]="movingCompanies" name="movingCompanies">
      </div>

      <div class="mb-4">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="costOfFood" type="text" placeholder="Market Place (Ex: Kimironko)"
          [(ngModel)]="costOfFood" name="costOfFood">
      </div>

      <div class="mb-4">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="health" type="text" placeholder="Health Center (Ex: Kanombe)"
          [(ngModel)]="health" name="health">
      </div>

      <div class="mb-4">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="rentOfHouse" type="text" placeholder="Rent Of House"
          [(ngModel)]="rentOfHouse" name="rentOfHouse">
      </div>

      <div class="flex items-center justify-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
          (click)="onSubmit()">
          Submit
        </button>

      </div>
    </form>
  </div>

</div>
<app-footer></app-footer>
