<footer class="flex flex-col justify-center h-screen">
  <div class="flex justify-between items-center">
    <div class="flex gap-8">
      <h2 class>MoveEase</h2>
      <!-- <h3 class>Privacy</h3>
      <h3 class>Policy</h3> -->
    </div>
    <div class="flex">
      <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="/about-us" routerLinkActive="active-link">About
          Us</a></li>
      <li><a routerLink="/contact-us" routerLinkActive="active-link">Contact
          Us</a></li>
    </div>
  </div>
  <p class="pt-4">
    Copyright &copy; MoveEase 2024
  </p>
</footer>
