p,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  @apply mx-12 py-3;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li {
  list-style-type: none;
  margin-left: 20px;
}
nav h1 {
  font-size: 3em;
}
nav p,
nav a {
  @apply text-white text-xl;
}
.active-link {
  border-bottom: 3px solid #dcdf24;
}
