<div class="bg-image">
  <div
    class="flex justify-center content-center items-center w-full h-screen form">
    <form class="flex flex-col items-center">
      <h2 class="text-black text-center pb-8">LogIn</h2>

      <div class="input-field"
        [class.error]="submitted && (!emailInput.value || !isValidEmail(emailInput.value))">
        <input type="text" placeholder="Email" #emailInput
          (input)="onInputChange()">
        <div
          *ngIf="submitted && (!emailInput.value || !isValidEmail(emailInput.value))"
          class="error-message">Invalid email format</div>
      </div>

      <div class="input-field"
        [class.error]="submitted && !passwordInput.value">
        <input type="password" placeholder="Password" #passwordInput
          (input)="onInputChange()">
        <div *ngIf="submitted && !passwordInput.value"
          class="error-message">Password is required</div>
      </div>

      <button type="button" class="px-4 py-1 mb-3 rounded-lg"
        (click)="onSubmit(emailInput.value, passwordInput.value)">LogIn</button>

      <a routerLink="/signUp" class="my-p-3">
        <p>Don't have an account? Sign Up</p>
      </a>
      <div class="text-black p-4">
        <a routerLink="/home">Return Home</a>
      </div>
    </form>
  </div>
</div>
