<div class="bg-image">
  <div
    class="flex justify-center content-center items-center w-full h-screen form">
    <form class="flex flex-col items-center">
      <h2 class="text-black text-center pb-8">LogIn</h2>
      <input type="text" placeholder="Email">
      <input type="password" placeholder="Password">
      <button class="px-4 py-1 mb-3 rounded-lg">LogIn</button>
      <a routerLink="/signUp" class="my-p-3"><p>Don't have an account? Sign
          Up</p></a>
    </form>

  </div>
</div>
