<div class="flex screen gap-8">
  <app-admin-navbar></app-admin-navbar>

  <div class="flex justify-center space-x-28 my-8 full">
    <div class="w-44 h-24 card flex flex-col">
      <p class="my-3">{{ totalUsers }}</p>
      <p>Users</p>
    </div>
    <div class="w-44 h-24 card flex flex-col">
      <p class="my-3">{{ totalContacts }}</p>
      <p>People Moving In</p>
    </div>
    <div class="w-44 h-24 card flex flex-col">
      <p class="my-3">{{ totalBackups }}</p>
      <p>People Moving Out</p>
    </div>
  </div>
</div>
