.aside {
  width: 200px;
  background-color: #6e9b52;
  @apply text-white;
}
li {
  list-style: none;
  @apply mb-6 text-lg;
}
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}
.active-link {
  border-bottom: 3px solid #dcdf24;
}
