<app-nav></app-nav>

<div class="mb-16  text-white">
  <div class="mx-12">
    <p class="mx-14 px-10 py-12 body line rounded-lg">This system is for
      Facilitation and
      enhance the experience of citizen relocation. Whether it's individuals
      moving for a job, families relocating for
      a lifestyle change, or businesses expanding to new locations, Move Ease
      aims
      to provide a comprehensive set of tools to make the entire relocation
      process
      smooth and stress-free.</p>
  </div>
  <div class=" w-full relative flex items-center justify-center my-12">
    <img src="assets/home.svg" class="max-h-full max-w-full rounded-xl"
      alt="Home Image">
    <button
      class=" text-white py-2 px-4 rounded absolute font-semibold text-xl">Learn
      More</button>
  </div>
</div>

<app-footer></app-footer>
