<app-nav></app-nav>

<div class="bg-body">
  <div class="w-full relative flex items-center justify-center">
    <img src="assets/service.png" class="max-w-full " alt="Home Image">
  </div>
</div>
<div class="mx-12">
  <div class="grid grid-cols-2 gap-20 mx-12 py-6">
    <div class="card">
      <p class="head">Registering Online</p>
      <p class="mx-16 py-6">Finding a details about sectors, and register
        yourself
        according to the
        cell you want to live or working in</p>
      <a routerLink="/register"><button>Click Here</button></a>
    </div>
    <div class="card">
      <p class="head">Budgeting Tools</p>
      <p class="mx-16 py-6">Financial tools to help to estimate the cost of
        their move, including transportation, housing, and other associated
        expenses.
        Budget tracking to manage and control spending during the relocation
        process</p>
      <a routerLink="/budgeting-Tools"><button>Click Here</button></a>
    </div>
    <div class="card">
      <p class="head">Location Discovery</p>
      <p class="mx-16 py-6"> Information on various cities and neighborhoods,
        including cost of living, schools, healthcare facilities, safety
        ratings, and local amenities</p>
      <button>Click Here</button>
    </div>
    <div class="card">
      <p class="head">Relocation Support Chat-bot</p>
      <p class="mx-16 py-6">AI-powered chatbot to answer common questions,
        provide guidance, and offer support throughout the relocation
        process. Integration with customer support for more complex queries.</p>
      <button>Click Here</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
