<app-nav></app-nav>

<div class="bg-body">
  <div class="w-full relative flex items-center justify-center">
    <img src="assets/service.png" class="max-w-full " alt="Home Image">
  </div>
</div>
<div class="mx-12">
  <div class="grid grid-cols-2 gap-20 mx-12 py-6">
    <div class="card">
      <p class="head">Registering Online</p>
      <p class="mx-16 py-6">Finding a details about sectors, and register
        yourself
        according to the
        cell you want to live or working in</p>
      <button>Click Here</button>
    </div>
    <div class="card">
      <p class="head">Registering Online</p>
      <p class="mx-16 py-6">Finding a details about sectors, and register
        yourself
        according to the
        cell you want to live or working in</p>
      <button>Click Here</button>
    </div>
    <div class="card">
      <p class="head">Registering Online</p>
      <p class="mx-16 py-6">Finding a details about sectors, and register
        yourself
        according to the
        cell you want to live or working in</p>
      <button>Click Here</button>
    </div>
    <div class="card">
      <p class="head">Registering Online</p>
      <p class="mx-16 py-6">Finding a details about sectors, and register
        yourself
        according to the
        cell you want to live or working in</p>
      <button>Click Here</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
