.img {
  width: 400px;
}
.contact {
  background-color: #d9d9d9;
}
button {
  background-color: #41aa45;
  @apply py-2 px-6;
}
input {
  @apply w-full px-5 py-2 text-white  border-none outline-none;
  background-color: #2da64f;
}
input::placeholder {
  color: white;
}
.input-field.error input {
  border: 1.5px solid red;
}
