<app-nav></app-nav>

<div class="mx-20 h-screen">
  <div class="grid grid-cols-2 mx-16 my-12 gap-6">
    <div>
      <h2 class="text-white mx-24 my-4">Need to Contact Us ?<br>
        Please fill that form.</h2>
      <img src="assets/contactus.png" class="img">
    </div>
    <div
      class="contact flex flex-col content-center items-center w-4/6 justify-center">
      <h2 class="py-5">Contact Us</h2>
      <form class="flex flex-col gap-7 items-center pt-5" #contactForm="ngForm"
        (ngSubmit)="onSubmit(contactForm)">
        <input type="text" placeholder="Names" name="names"
          [(ngModel)]="contact.names" required>
        <input type="email" placeholder="Email" name="email"
          [(ngModel)]="contact.email" required>
        <input type="text" placeholder="Telephone" name="telephone"
          [(ngModel)]="contact.telephone" required>
        <button type="submit" class="px-4 py-2 text-white">Send</button>
      </form>

    </div>
  </div>
</div>

<app-footer></app-footer>
