<app-nav></app-nav>

<div class="bg-image">
  <div class="grid grid-cols-2 mx-16 my-12 gap-12">
    <div class="flex justify-end items-center w-4/5">
      <img src="assets/register.png" class="img flex">
    </div>
    <div
      class="contact flex flex-col content-center items-center w-4/6 justify-center py-7">
      <h2 class="py-5">Register</h2>

      <input type="email" placeholder="Email" [(ngModel)]="email"
        (input)="onInputChange()"
        [class.error]="submitted && (!email || !isValidEmail(email))">

      <input type="text" placeholder="Full Name" [(ngModel)]="fullName"
        (input)="onInputChange()" [class.error]="submitted && !fullName">

      <input type="text" placeholder="National ID" [(ngModel)]="nationalID"
        (input)="onInputChange()" [class.error]="submitted && !nationalID">

      <input type="text" placeholder="Cell Name" [(ngModel)]="cellName"
        (input)="onInputChange()" [class.error]="submitted && !cellName">

      <button type="submit" class="px-4 py-2 text-white bg-blue-500 rounded-md"
        (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
