<app-nav></app-nav>

<div class="bg-image">
  <div class="grid grid-cols-2 mx-16 my-12 gap-12">
    <div class="flex justify-end items-center w-4/5">
      <img src="assets/register.png" class="img flex">
    </div>
    <div
      class="contact flex flex-col content-center items-center w-4/6 justify-center py-7">
      <h2 class="py-5">Register</h2>

      <input type="email" placeholder="Email" #emailInput
        (input)="onInputChange(emailInput)"
        [class.error]="submitted && (!emailInput.value || !isValidEmail(emailInput.value))">

      <input type="text" placeholder="Full Name" #fullNameInput
        (input)="onInputChange(fullNameInput)"
        [class.error]="submitted && !fullNameInput.value">

      <input type="text" placeholder="National ID" #nationalIDInput
        (input)="onInputChange(nationalIDInput)"
        [class.error]="submitted && !nationalIDInput.value">

      <input type="text" placeholder="Cell Name" #cellNameInput
        (input)="onInputChange(cellNameInput)"
        [class.error]="submitted && !cellNameInput.value">

      <button type="button" class="px-4 py-2 text-white bg-blue-500 rounded-md"
        (click)="onSubmit(emailInput.value, fullNameInput.value, nationalIDInput.value, cellNameInput.value)">Submit</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
