<div class="bg-image">
  <div
    class="flex justify-center content-center items-center w-full h-screen form">
    <form class="flex flex-col items-center">
      <h2 class="text-black text-center pb-8">SignUp</h2>
      <input type="text" placeholder="Email">
      <input type="password" placeholder="Password">
      <input type="password" placeholder="Confirm password">
      <button class="px-4 py-1 mb-3 rounded-lg">SignUp</button>
      <a routerLink="/logIn" class="my-p-3"><p>Alread a member? LogIn</p></a>
    </form>

  </div>
</div>
