<div class="bg-image">
  <div
    class="flex justify-center content-center items-center w-full h-screen form">
    <form class="flex flex-col items-center">
      <h2 class="text-black text-center pb-8">SignUp</h2>

      <div class="input-field"
        [class.error]="submitted && (!emailInput.value || !isValidEmail(emailInput.value))">
        <input type="text" placeholder="Email" #emailInput
          (input)="onInputChange()">
      </div>

      <div class="input-field"
        [class.error]="submitted && !passwordInput.value">
        <input type="password" placeholder="Password" #passwordInput
          (input)="onInputChange()">
      </div>

      <div class="input-field"
        [class.error]="submitted && passwordInput.value !== confirmPasswordInput.value">
        <input type="password" placeholder="Confirm password"
          #confirmPasswordInput (input)="onInputChange()">
      </div>

      <button type="button" class="px-4 py-1 mb-3 rounded-lg"
        (click)="onSubmit(emailInput.value, passwordInput.value, confirmPasswordInput.value)">SignUp</button>

      <a routerLink="/logIn" class="my-p-3"><p>Already a member? LogIn</p></a>
    </form>
  </div>
</div>
