.bg-image {
  background-image: url("../../../../assets/signup.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  overflow: hidden;
}
form {
  background-color: #6e9b52;
  @apply pb-24 pt-12 px-12 h-1/2 w-1/6;
}
input {
  @apply my-4 p-2;
  outline: none;
}
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
}
.input-field {
  position: relative;
}

.input-field input {
  @apply my-4 p-2;
  outline: none;
  border: 1px solid #ccc;
}

.input-field.error input {
  border: 1.5px solid red;
}

button {
  @apply px-4 py-1 mb-3 rounded-lg;
}
.error-message {
  color: red;
  margin-top: 10px;
}
