<app-nav></app-nav>

<div class="min-h-screen py-6">

  <div class="chat-container">
    <div class="message-container" *ngFor="let message of messages">
      <div *ngIf="message.type === 'user'" class="user-message">
        {{ message.content }}
      </div>
      <div *ngIf="message.type === 'bot'" class="bot-message">
        {{ message.content }}
      </div>
    </div>

    <div class="input-container">
      <input class="message-input" [(ngModel)]="currentMessage"
        (keydown.enter)="sendMessage()" placeholder="Type your Question...">
      <button (click)="sendMessage()" class="send-button">Send</button>
    </div>
  </div>

</div>

<app-footer></app-footer>
